body {
    font-family: Verdana;
    background-color: #f4f4f4;
    margin-top: 100px;
    text-align: center;
}

.box {
    margin-top: 100px;
}

h1 {
    font-size: 50px;
}

#result {
    font-size: 50px;
    margin-top: 50px;
    color: #333;
}

#info {
    font-size: 0.8em;
    color: rgb(33, 33, 33);
}

button {
    color: white;
    padding: 10px 25px;
    background-color: #939393;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(234, 168, 168);
}