body {
    font-family: Verdana;
    font-size: 1.5em;
    margin-top: 100px;
    text-align: center;
}

button:hover {
    background-color: "red";
}

button {
    color: white;
    background-color: hsl(#232322);
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}